<%= form_with model: @result,url: student_result_path(@student), local: true do |form| %>
  <div class="field">
    <%= form.label :marks %>
    <%= form.text_field :marks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>%
<% end %>